{%- assign date_format = site.date_format | default: "%b %d, %Y" -%}
{%- assign words_per_minute = site.words_per_minute | default: 200 -%}
{%- assign min_read = site.data.text[site.locale].min_read | default: 'min read' -%}
{%- assign min_read_long = site.data.text[site.locale].min_read_long | default: 'min read' -%}
{%- if entry -%}
  {%- assign words = entry.content | strip_html | number_of_words -%}
{%- else -%}
  {%- assign words = page.content | strip_html | number_of_words -%}
{%- endif -%}

{%- comment -%} ==== READ TIME CALCULATION ==== {%- endcomment -%}
  {%- if words < words_per_minute -%}
    {%- assign read_time = site.data.text[site.locale].min_read_short -%} 
  {%- else -%}
    {%- assign read_time = words | divided_by:words_per_minute -%}
    {%- if read_time >= 8 -%}
      {%- assign read_time_label = read_time | append: min_read_long -%}
    {%- else -%}
      {%- assign read_time_label = read_time | append: min_read -%}    
    {%- endif -%}
  {%- endif -%}

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {%- if page.link -%}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {%- else -%}
          <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {%- endif -%}
        {%- assign author = page.author | default: page.authors[0] | default: site.author -%}
        {%- assign author = site.data.authors[author] | default: author -%}
          <div class="about post-stats">
            <ul>
              <li class="author-pic">
                <a href="/about-serenade-wind/#{{author.name | downcase}}" title="About {{author.name}}">
                <img src="{{author.picture}}" alt="{{author.name}}">
                <span>{{author.name}}</span>
              </a>
              </li>
              <li class="post-stats">
                <time class="page-date dt-published" datetime="{{ page.date | date_to_xmlschema }}">
                  <i class="fas fa-calendar-day"></i>&nbsp;Published {{ page.date | date: date_format }}
                </time>
                <span class="read-time">
                  <i class="fas fa-clock"></i>&nbsp;A {{ read_time_label }}
                </span>
                {%- if page.categories.size > 0 -%}
                about&nbsp;
                  {%- for category in page.categories -%}
                    {%- if forloop.index0 > 0 -%} 
                      {%- if forloop.last == false -%}
                ,&nbsp;
                      {%- else -%}
                &nbsp;and&nbsp;
                      {%- endif -%}
                    {%- endif -%}
                <a class="p-category" href="{{ category | slugify | prepend: site.category_archive_path | relative_url }}" title="{{ site.data.text[site.locale].pages_categorized | default: 'Pages filed under' }} {{ category }}">{{ category }}</a>
                  {%- endfor- -%}
                {%- endif -%}
              </li>
            </ul>
          </div>
          <div class="about excerpt">
            {{ page.excerpt }}
          </div>
          {%- if page.patreon_url -%}
          <div class="about patreon">
            <span class="patreon-post-link">
              <img src="/images/patreon-banner.jpg"/>
            </span>
          </div>
          {%- endif -%}
      </header>
      <div class="page-content">
        <div class="e-content">
          {{ page.content }}
        </div>
        {%- if page.share -%}
          <div class="about follow-us">
            
          
          {%- if page.series -%}
          <div class="about post-series">
            <h2 class="series-links">More from this series:</h2>
            <ul>
              {% assign series-posts = site.posts | reverse | where: 'series', page.series %}
              {%- for post in series-posts -%}
              <li>
                {%- if post.url == page.url -%}
                  <span class="current-series-post">{{ post.title }}</span>
                {% else %}
                  <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                {% endif %}
              </li>              
              {%- endfor -%}
            </ul>
          </div>
          {%- endif -%}            
          
            <h2 id="thanks-for-reading">Thanks for reading!</h2>
            <p>Share <i>{{ title }}</i> with your friends:</p>
            {% include social-share.html %}
            <p>Stay up to date with our content releases, by subscribing to our <a href="http://feeds.feedburner.com/SerenadeWind" title="Serenade Wind RSS Feed"><i class="fas fa-rss-square fa-2x" title="Serenade Wind RSS Feed"></i>RSS Feed</a> or follow us on <a href="https://www.facebook.com/serenade.wind.ventures" title="Serenade Wind Facebook Page"><i class="fab fa-facebook-square fa-2x" title="Serenade Wind Facebook page"></i>Facebook</a> and <a href="https://www.instagram.com/serenade.wind/" title="Serenade Wind Instagram Account"><i class="fab fa-instagram-square fa-2x" title="Serenade Wind Instagram account"></i>Instagram</a>. </p>
          </div>
          <div class="about patreon">
            <a class="patreon-post-link" href="https://www.patreon.com/serenadewind" title="Serenade Wind Patreon Page">
              <img src="/images/patreon-banner.jpg"/>
            </a>
      
            <span class="patreon">
              If you would like to delve deeper into our adventure as it unfolds, please consider joining the <a href="https://www.patreon.com/bePatron?u=30149836" title="Serenade Wind Patreon Page">Serenade Wind Crew</a>. Our sister site provides more information on what it means to be part of the crew, unlock the pirate’s booty, and receive other exclusive access and benefits.

              The first 50 members <a href="/posts/branding/#pirates-booty" title="Hand made gifts for our Patreon supporters">have a gift waiting</a>.
            </span>
          </p>
          </div>        

        {%- endif -%}
        {%- if site.disqus.shortname -%}
          {%- include disqus-comments.html -%}
        {%- endif -%}
        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>